/* Fonts Imports */
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: SounsSans-Regular;
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: SounsSans-Regular2;
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: SounsSans-SemiBold;
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}
@font-face {
    font-family: SounsSans-Bold;
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

/* Informations Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid{
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -Header - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header{
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#logo{
    color: white;

    font-family: Poppins;
    font-size: 30px;
}

#header-input{
    width: 462px;
    height: 48px;

    border-radius: 3px;
    border: none;
    outline: none;

    font-family: SounsSans-Regular;
    font-size: 16px;
    color: #333333;
}

input{
    padding-left: 10px;
}

#header-input ::placeholder{
    font-family: SounsSans-Regular;
    font-size: 16px;

    
}

.nav-header{
    width: 320px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    font-family: SounsSans-SemiBold;
    font-size: 16px;
    color: white;

    text-decoration: none;
}

nav a:hover{
    color: #ffd64e;
}

a img{
    width: 20px;
    height: 20px;
}

a img#menu-icon{
    width: 15px;
    height: 15px;
}

.header-icons a#menu-a{
    padding: 18px;
}

.header-icons a{
    border: 1px solid #786AC9;
    border-radius: 50%;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icons{
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* - - - - - - - - - - - - - - - - - - - - Main section - - - - - - - - - - - - - - - - - - - - */

/* Banner Main */
h2#banner-subtitle{
    color: white;

    font-family: Poppins;
    font-size: 16px;
}

h1#title{
    color: white;

    font-family: Poppins;
    font-size: 64px;
    line-height: 72px;
}

button#buttonbanner{
    background-color: #FFC300;
    border: none;
    border-radius: 24px;

    width: 174px;
    height: 48px;

    color: white;
    font-family: SounsSans-Bold;
    font-size: 16px;
}

.banner-title{
    width: 440px;
    height: 275px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img#notebook{
    width: 884px;
    height: 576px;
}

.banner{
    width: 1420px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    position: absolute;
    top: 192px;
    right: calc(50% - 712px);
}

.banner-cont {
    width: 100%;
    height: 768px;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
}

/* * * * * * Section About * * * * * */
.About{
    background-color: #FDF2FF;

    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
}

.itens{
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: space-between;
}

.informationDelivery,
.informationGuarantee,
.informationService,
.informationBuy
{
    width: 300px;
    height: 120px;

    display: flex;
    align-items: center;

    justify-content: space-around;

}

#tittleAbout{
    font-family: Poppins;
    font-size: 24px;
}

#pAbout{
    font-family: SounsSans-Regular;
    font-size: 16px;

    color: #333333;
}

/* * * * * * * * * * * * Section productsSearch * * * * * * * * * * * * */

.productsSearch{
    background-color: #FFFFFF;

    height: 770px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titllePSearch{
    margin-top: 75px;

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#h3PSearch{
    font-family: Poppins;
    font-size: 16px;

    color: #333333;
}

#h1PSearch{
    font-family: Poppins;
    font-size: 56px;

    color: #333333;
}

#pPSearch{
    font-family: SounsSans-Regular;
    font-size: 16px;

    color: #333333;

    text-align: center;
}

.products{
    display: flex;
    flex-direction: row;
}

thead tr{
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

thead tr th a{
    font-family: SounsSans-Regular;
    font-size: 16px;

    color: #969595;

    text-decoration: none;
}

thead tr th a:hover{
    font-family: SounsSans-SemiBold;
    font-size: 16px;

    color: #7746C1;
}

#lastofthypea{
    font-family: SounsSans-Regular2;
    font-size: 16px;

    color: #333333;

    text-decoration: none;
}

#lastofthypea:hover{
    color: #7746C1;
}

.products{
    width: 100%;

    margin-top: 75px;

    display: flex;
    justify-content: space-around;
}

.product1,
.product2,
.product3,
.product4{
    height: 380px;

    display: flex;
    flex-direction: column;
    align-items: center;
}